.s-hero{
    background-color: $purple;
    padding-top: 11.9rem;
    padding-bottom: 5.9rem;
    .container{
        @include flex(row, flex-start, space-between);
        align-items: flex-end;
    }
    .text{
        width: 100%;
        max-width: 55rem;
        h1{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 4.3rem;
            line-height: 110%;
            color: $white;
            margin-bottom: 1.6rem;
        }
        h2{
            background-color: #816ef5;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 2px 15px 2px 2px;
            border-radius: 24px;
            color: $white;
            margin-bottom: 15px;
            img{
                background-color: #fff;
                padding: 3px;
                border-radius: 20px
            }
            span{
                margin-left: 8px;
            }
        }
        p{
            font-size: 1.8rem;
            line-height: 150%;
            color: $white;
            max-width: 48.8rem;
            margin-bottom: 3.2rem;
        }
        button{
            @include style-btn(5.4rem, $white, $purple-dark);
            margin-bottom: 8.6rem;
            -webkit-box-shadow: 5px 5px 0px -1px $black;
            box-shadow: 5px 5px 0px -1px $black;
            &:hover{
                -webkit-box-shadow: 5px 5px 0px -1px transparent;
                box-shadow: 5px 5px 0px -1px transparent;
            }
        }
        .conheca{
            display: flex;
            align-items: center;
            .icon{
                width: 4.2rem;
                height: 4.2rem;
                background-color: #816ef5;
                border-radius: 6px;
                @include flex(row, center, center)
            }
            span{
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $white;
                margin-bottom: 2.6rem;
            }
        }
    }
    .image {
        position: relative;
        top: 3.4rem;
        margin: 0 auto;

    }
    .partners{
        ul{
            display: flex;
            li{
                margin-right: 16px;
            }
        }
        
    }
    @include responsive(991px){
        .container{
            flex-direction: column;
        }
        .text{
            max-width: 100%;
            margin-top: 3rem;
            h1{
                text-align: center;
            }
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
            }
            p{
                max-width: 100%;
                text-align: center;
            }
            button{
                margin: 0 auto;
                margin-bottom: 4rem;
                display: block;
            }
            .conheca{
                justify-content: center;
            }
        }
        .partners{
            ul{
                align-items: center;
                justify-content: center;
            }  
        }
    }

    @include responsive(600px){
        padding-top: 2.5rem;
        margin-top: 7rem;
        .text{
            h1{
                font-size: 4.3rem;
            }
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .image{
            left: -9px;
        }
    }
   
}

.s-resources{
    padding-top: 14.9rem;
    .top{
        @include flex(row, center, space-between);
        margin-bottom: 5.3rem;
        h2{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 130%;
            color: $gray-01;
            max-width: 50.2rem;
        }
        p{
           font-weight: 500;
           font-size: 1.6rem;
           line-height: 150%;
           color: $gray-02; 
        }
    }
    .content{
        @include flex(row, flex-start, space-between); 
        .icon{
            // width: 6.4rem;
            height: 6.4rem;
            background-color: rgba(197,190,220, 0.1) ;
            border-radius: 12px;
            @include flex(row, center, center); 
            margin-bottom: 3rem;
        }
        .info{
            h4{
                font-weight:bold;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color:$purple;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.6rem;
                line-height: 165%;
                color: $gray-02;
            }
        }

        ul{
            width: 100%;
            @include flex(row, flex-start, space-between);
            margin-top: 4.1rem; 
            border-bottom: 3px solid rgba(95,60,161 , 0.12);
            padding-bottom: 6.5rem;
            li{
                width: 30%;
            }
        }
    }
    @include responsive(991px){
        .content{
            flex-direction: column;
            align-items: center;
            .card-featured{
                max-width: 100%;
                height: auto;
                padding: 3rem;
                @include flex(column, center, center);
                .info{
                    max-width: 100%;
                    h4,p{
                        text-align: center;
                    }
                }
            }
        }
    }
    @include responsive(768px) {
        padding-top: 10rem;
        padding-bottom: 5rem;
        .top{
            flex-direction: column;
            h2{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        .content{
            ul{
                gap: 2.5rem;
                li{
                    width: 100%;
                }
            }
        }
    }
    @include responsive(480px){
        padding-top: 6rem;
        .content{
            ul{
                flex-direction: column;
                padding-left: 0;
                margin-top: 3rem;
                li{
                    @include flex(column, center, center);
                    h4,p{
                        text-align: center;
                    }
                }
            }
            .info{
                max-width: 95%;
            }
        }
    } 
}

.s-about{
    padding-top: 9.9rem;
    padding-bottom: 9.9rem;
    background-color: #f8f9fe;
    .container{
        @include flex(row, flex-start, space-between);
        h3{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 2.8rem;
            line-height: 130%;
            color: $gray-01;
            margin-bottom: 2rem;
        }
        .col-1{
            max-width: 55rem;
            button{
                @include style-btn(5.4rem, $purple, $purple-dark);
                margin-top: 4rem;
                margin-bottom: 8.6rem;
                -webkit-box-shadow: 5px 5px 0px -1px $black;
                box-shadow: 5px 5px 0px -1px $black;
                color: $white;

                &:hover{
                    color: $white;
                    -webkit-box-shadow: 5px 5px 0px -1px transparent;
                    box-shadow: 5px 5px 0px -1px transparent;
                }
            }
        }
        .col-2{
            max-width: 45rem;
        margin: 0 auto;
        }
    }
    @include responsive(961px) {
        .container{
            @include flex(column, flex-start, space-between);
            text-align: center;
            .col-1{
                max-width: 100%;
            }
            .icon{
                margin: 0 auto;
                margin-bottom: 2rem;
            }
        }
        
    }

}

.s-numbers{
    background-color: $gray-light;
    .container{
        @include flex(row, flex-start, space-between); 
        .card-number{
            border: 1px solid #e9e9e9;
            background-color: $white;
            width: 33%;
            padding: 32px 0;
            border-radius: 8px;
            margin: 8px;
        }
        h2{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 5.8em;
            font-weight: 700;
            background: -webkit-linear-gradient(#4ffeec, #009688);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 72%;
            text-align: center;
            .text-secondary{
                font-size: .5em;
                background: -webkit-linear-gradient($gray-02, $gray-02);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    @include responsive(768px) {
        .container{
            @include flex(column, flex-start, space-between);
            .card-number{
                width: 100%;
                margin: 0;
                margin-bottom: 16px;
            }

        }
        
    }
}

.s-product{
    padding-top: 9.9rem;
    padding-bottom: 9.9rem;

    .container{
        @include flex(row, center, space-around); 
        background-color: #8a78ff2b;
        border-radius: 5px;
        padding: 5rem 0;
        .col-1{
            width: 50%;
        }
        .col-2{
            width: 45%;
            div{
                margin-bottom: 2rem;
            }
            h3{
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                font-size: 2.8rem;
                line-height: 130%;
                color: $gray-01;
                margin-bottom: 2rem;
            }
            h4{
                color: #8a78ff;
                font-weight: 700;
                font-size: 1.5rem;
            }
            .s-product__description{
                margin-bottom: 3rem;
            }
            .margin {
                margin-right: 2rem;
            }
        }
    }

    @include responsive(768px) {
        .container{
            @include flex(column, flex-start, space-between);
            text-align: center;
            .col-1, .col-2{
                width: 100%;
            }
            .col-2{
                margin-top: 40px;
                .margin{
                    margin-right: 0;
                }
                .s-product__description{
                    font-weight: 400;
                }
                div{
                    flex-direction: column;
                }
                p{
                    font-weight: 700;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

footer{
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
}